.avatar_mask{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar_mask img{
    height: 5rem;
}
